<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ICD10疾病标注</title>
    <link rel="stylesheet" href="plugs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="plugs/layui/css/layui.css" media="all">
</head>
<body>
<div class="spinner" id="wait" style="margin-bottom: 30%;margin-top: 20%">
    <h1>数据加载中(服务器带宽1M,加载较慢)</h1>
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<div id="main" style="display: none">
    <div class="text-center">
        <h1 style="font-size: 30px;margin-top: 10px;margin-bottom: 10px">ICD10 疾病标注</h1>
    </div>
    <div ng-app="myapp" ng-controller="menu">
        <table id="table" lay-filter="test"></table>
        <script type="text/html" id="barDemo">
            <button class="layui-btn layui-btn-mini" lay-event="tag">标注数据</button>
            <button class="layui-btn layui-btn-mini" lay-event="del">清除</button>
        </script>
        <!-- 模态框（Modal）用来显示数据 -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" style="width: 70%">
                <div class="modal-content">

                    <div class="modal-body" id="myModalContent">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="di1id" class="col-sm-2 control-label">第1级：</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="di1"
                                            id="di1id"
                                            ng-change="change1()">
                                        <option value="{{ y.id }}"
                                                ng-repeat="y in chapter | orderBy:fisrtLetterOrder">
                                            {{y.bianma+" "+y.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="di2id" class="col-sm-2 control-label">第2级：</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="di2" id="di2id"
                                            ng-change="change2() " ng-init="di2=''">
                                        <option value="" selected="true"></option>
                                        <option value="{{ y.bianma }}" ng-repeat="y in d2 | orderBy:fisrtLetterOrder">
                                            {{y.bianma+" "+y.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="di3id" class="col-sm-2 control-label">第3级：</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="di3" id="di3id"
                                            ng-change="change3()" ng-init="di3=''">
                                        <option value="" selected="true"></option>
                                        <option value="{{ y.bianma }}" ng-repeat="y in d3 | orderBy:fisrtLetterOrder">
                                            {{y.bianma+" "+y.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="di4id" class="col-sm-2 control-label">第4级：</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-model="di4" id="di4id"
                                            ng-change="change4()" ng-init="di4=''">
                                        <option value="" selected="true"></option>
                                        <option value="{{ y.bianma }}" ng-repeat="y in d4 | orderBy:fisrtLetterOrder">
                                            {{y.bianma+" "+y.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div align="right">
                            <button type="button" class="btn btn-success" ng-click="saveinfo()">确认标注
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                        </div>
                    </div>
                    <br>
                    <div>
                        <div>
                            <h1 class="text-center" style="font-size: 20px" style="margin: 5px 0"
                                ng-if="RecommendList.length!=0">标注推荐</h1>
                            <h1 class="text-center" style="font-size: 20px" style="margin: 5px 0"
                                ng-if="RecommendList.length==0">无 标注推荐</h1>
                            <ul class="list-group" ng-if="RecommendList.length!=0">
                                <li class="list-group-item"
                                    ng-repeat="x in RecommendList | orderBy:tuijianfisrtLetterOrder"
                                    ng-click="autoSelect(x)">
                                    <span ng-if="x.hasOwnProperty('l1')">{{x.l1.bianma}} <b>{{x.l1.name}}</b></span>
                                    <span ng-if="x.hasOwnProperty('l2')">
                                        <span class="glyphicon glyphicon-chevron-right"  style="color:blue"></span>
                                        {{x.l2.bianma}} <b>{{x.l2.name}}</b>
                                    </span>
                                    <span ng-if="x.hasOwnProperty('l3')">
                                        <span class="glyphicon glyphicon-chevron-right"  style="color:#007DDB"></span>
                                        {{x.l3.bianma}} <b>{{x.l3.name}}</b>
                                    </span>
                                    <span ng-if="x.hasOwnProperty('l4')">
                                        <span class="glyphicon glyphicon-chevron-right"  style="color:cornflowerblue"></span>
                                        {{x.l4.bianma}} <b>{{x.l4.name}}</b>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <span> &nbsp;</span>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>

    </div>
</div>

<script src="js/config.js"></script>
<script src="plugs/jquery/jquery-2.2.3.min.js"></script>
<script src="plugs/bootstrap/js/bootstrap.js"></script>
<script src="plugs/slimScroll/jquery.slimscroll.js"></script>
<script src="plugs/angular/angular.js"></script>
<script src="plugs/angular/angular-animate.js"></script>
<script src="plugs/angular/angular-sanitize.js"></script>
<script src="plugs/angular/ui-bootstrap.js"></script>
<script src="plugs/angular/ui-bootstrap-tpls.js"></script>
<script src="plugs/layui/layui.all.js"></script>


<script src="js/index.js"></script>
</body>
</html>